body {color:#1a1818;
background-color:green;}
h1 {font-size: 100px}
h1 {font-family: serif;}
h1 {color:#FFF8DC}
h2 {font-size: 50px}
h2 {color:#b6abb6;}
p {font-size: 25px}
p {color:#}
img, div {
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 230px;
  padding-left: 20px;
}
div#images{
  text-align: center;
  font-size: 200 px
}

.ml6 {
  position: relative;
  font-weight: 900;
  font-size: 3.3em;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}
